.destinos h2{
  height: 70%;
  text-align: center;
}
.tipos_container{
  width:100%;
  padding: 1rem 4%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3,1fr);
}
.seccion-grilla{
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cabecera, .navbar, .seccion, .seccion1, .seccion2, .pie{
  padding: 10px;
  border: 1px solid black;
}
.grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr) 15%;
  grid-template-rows: 500px;
  grid-template-areas:"cabecera cabecera cabecera"
  "seccion seccion publicidad"
  "seccion1 seccion1 publicidad"
  "seccion2 seccion2 publicidad"
  "pie pie pie";
}
.cabecera{
  background-image: url('../img/banner_definitivo.jpg');
  background-repeat: no-repeat;
  background-position: center -50px;
  background-size: cover;
  font-weight: 900;
  font-size: 19rem;
  grid-area: cabecera;
}
.publicidad{
  grid-area: publicidad;
}
.seccion{
  grid-area: seccion;
}
.seccion1{
  grid-area: seccion1;
}
.seccion2{
  grid-area: seccion2;
}
.pie{
  background-color: greenyellow;
  grid-area: pie;
}