*{  padding: 0%;
  margin: 0%;
  text-decoration: none;
  box-sizing: border-box;
  text-align: center;
}
/* pseudoclas */
.nav-item:hover{
  background-color: rgb(241, 120, 120);
  border-radius: 3px;
}
.nav-item:active{
  background-color: rgb(241, 120, 120);
  border-radius: 3px;
}
.nav-item:active a{
  background-color: rgb(239, 58, 58);
}
.producto:hover{
  background-color: grey;
}
.producto:hover .card_title{
  color: rgb(239, 58, 58);
}


/* tipos */

.tipos{
  padding: 2rem 4%;
  width: 100%;
  background-color: rgb(243, 118, 118);
}
.tipos h2{
  height: 70px;
  text-align: center;
}

/* cards */
.card{
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  display: flex;
  align-items: center;
}
.card img {
  border-radius: 2px 2px 0 0;
  object-fit: cover;
}
.card .card_title{
  padding: 0 10px;
}
.card .card_container{
  width: 100%;
  padding: 10px;
  font-size: .80rem;

}
/* boton */
.card .card_container a.boton {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.card .card_container a.boton:hover {
  background-color: #166cb2;
}

.card .card_container a.boton:active {
  background-color: #46afbd;
}
.my-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.my-button:hover {
  background-color: #45a049;
}

.my-button:active {
  background-color: #3e8e41;
}


.card_icono{
  width: 60px;
  height: 70px;
}
.producto{
  display: flex;
  justify-content: center;
}
/* publicidad */
.card_publicitario{
  display: flex;
  padding: 50px;
  padding-top: 80px;
  align-items: center;
  justify-content: center;
}
.card_publicitaria_container{
  background: rgb(255,85,0);
  background: linear-gradient(90deg, rgba(255,85,0,1) 0%, rgba(140,129,130,1) 15%, rgba(244,230,139,1) 41%, rgba(244,229,139,1) 53%, rgba(237,238,145,1) 69%, rgba(244,229,139,1) 100%);
}
.texto_publicitario{
  background-color: yellow;
}

/* imagines */
.imgNovedades{
  width: 320px;
  height: 320px;
}
.remera{
  width: 150px;
}
/* seccion */
.seccion{
  padding: 30px;
}
.seccion_carrusel{
  padding-top: 10px;
}
.seccion_grid{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(0, 0, 0);
  margin: 10px;
}
.seccion_grid_text{
  width: 50%;
}

/* footer */
.logoRedes{
  width: 15px;
  height: 15px;
}
.pie_container{
  background-color: rgb(247,9,9);
  background: linear-gradient(90deg, rgba(247,9,9,0.4542191876750701) 2%, rgba(237,238,145,0.27494747899159666) 7%, rgba(244,229,139,1) 100%);
}
.carousel-inner{
  padding: 15px;
}
/* esto de arriba era del style */





.tipos_container{
  width:100%;
  padding: 1rem 4%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3,1fr);
}
.seccion-grilla{
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cabecera, .navbar, .seccion, .seccion1, .seccion2, .pie{
  padding: 10px;
}

/* grid */
.grid{
  background-color: rgb(243, 118, 118);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 15%;
  grid-template-rows: 500px;
  grid-template-areas:"cabecera cabecera cabecera"
  "seccion seccion publicidad"
  "seccion1 seccion1 publicidad"
  "seccion2 seccion2 publicidad"
  "pie pie pie";
}
.grid_contacto{
  background-color: rgb(243, 118, 118);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 15%;
  grid-template-rows: 500px;
  grid-template-areas:"cabecera cabecera cabecera"
  "seccion seccion publicidad5"
  "pie pie pie";
}

.grid_marcas{
  background-color: rgb(243, 118, 118);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 15%;
  grid-template-rows: 500px;
  grid-template-areas:"cabecera cabecera cabecera"
  "seccion seccion publicidad1"
  "seccion1 seccion1 publicidad2"
  "seccion2 seccion2 publicidad3"
  "seccion3 seccion3 publicidad4"
  "pie pie pie";
}

.cabecera{
  background-image: url('../img/banner_definitivo.jpg');
  background-repeat: no-repeat;
  background-position: center -50px;
  background-size: cover;
  font-weight: 900;
  font-size: 19rem;
  grid-area: cabecera;
}
.publicidad{
  background-image: url('../img/casinozeus.jpg');
  background-position: center;
  grid-area: publicidad;
}
.publicidad1{
  background-image: url('../img/concesionariaYamaha.jpg');
  background-position: center;
  grid-area: publicidad1;
}
.publicidad2{
  background-image: url('../img/concesionariaBenelli.png');
  background-repeat: repeat;
  grid-area: publicidad2;
}
.publicidad3{
  background-image: url('../img/concesionariaHonda.webp');
  background-repeat: repeat;
  background-position: center;
  grid-area: publicidad3;
}
.publicidad4{
  background-image: url('../img/concesionariaSuzuki.jpg');
  background-repeat: repeat;
  background-position: center;
  grid-area: publicidad4;
}
.publicidad5{
  background-image: url('../img/tiendaVelez.jpg');
  background-position: center;
  margin: 10px;
}
.seccion{
  grid-area: seccion;
}
.seccion1{
  grid-area: seccion1;
}
.seccion2{
  grid-area: seccion2;
}
.seccion3{
  grid-area: seccion3;
}
.pie{
  grid-area: pie;
}

/* media queries */
@media (max-width:943px){
  .tipos_container{
    width:100%;
    padding: 1rem;
    height: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_publicitario{
    display: flex;
    flex-direction: column;
  }
  .card_publicitaria_container{
    background: rgb(247,236,9);
background: linear-gradient(90deg, rgba(247,236,9,0.4542191876750701) 0%, rgba(237,238,145,0.27494747899159666) 0%, rgba(244,229,139,1) 100%);
  }
  .video{
  width: 100%;
  height: 300px;
}
.cabecera{
  background-position: 0px;
}

.publicidad5{
  display: none;
}
.grid_contacto{
  background-color: rgb(243, 118, 118);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  grid-template-areas:"cabecera"
  "seccion"
  "pie";
}
}
@media (max-width:600px){

}
@media (max-width:320px){
  /* index */
  .tipos_container{
    width:100%;
    padding: 1rem;
    height: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_publicitario{
    display: flex;
    flex-direction: column;
  }
  .card_publicitaria_container{
    background: rgb(247,236,9);
background: linear-gradient(90deg, rgba(247,236,9,0.4542191876750701) 0%, rgba(237,238,145,0.27494747899159666) 0%, rgba(244,229,139,1) 100%);
  }
  .video{
    width: 150%;
    height: 200px;
  }
  /* marcas */
  .grid_marcas{
    background-color: rgb(243, 118, 118);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
    grid-template-areas:"cabecera"
    "seccion" 
    "publicidad1"
    "seccion1" 
    "publicidad2"
    "seccion2" 
    "publicidad3"
    "seccion3" 
    "publicidad4"
    "pie";
  }
  /* novedades */
  .grid{
    width: 100%;
    background-color: rgb(243, 118, 118);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
    grid-template-areas:"cabecera"
    "seccion"
    "seccion1"
    "seccion2"
    "publicidad5"
    "pie";
  }
  .seccion_grid{
    width: 92%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    margin: 10px;
  }

  
  .imgNovedades{
    width: 250px;
  }
  .cabecera{
    background-position: 0px;
  }

}