.tipos_container{
  width:100%;
  padding: 1rem 4%;
  height: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3,1fr);
}
.seccion-grilla{
  width: 100%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.cabecera, .navbar, .seccion, .seccion1, .seccion2, .pie{
  padding: 10px;
}

/* grid */
.grid{
  background-color: rgb(243, 118, 118);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 15%;
  grid-template-rows: 500px;
  grid-template-areas:"cabecera cabecera cabecera"
  "seccion seccion publicidad"
  "seccion1 seccion1 publicidad"
  "seccion2 seccion2 publicidad"
  "pie pie pie";
}
.grid_contacto{
  background-color: rgb(243, 118, 118);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 15%;
  grid-template-rows: 500px;
  grid-template-areas:"cabecera cabecera cabecera"
  "seccion seccion publicidad5"
  "pie pie pie";
}

.grid_marcas{
  background-color: rgb(243, 118, 118);
  display: grid;
  grid-template-columns: repeat(2, 1fr) 15%;
  grid-template-rows: 500px;
  grid-template-areas:"cabecera cabecera cabecera"
  "seccion seccion publicidad1"
  "seccion1 seccion1 publicidad2"
  "seccion2 seccion2 publicidad3"
  "seccion3 seccion3 publicidad4"
  "pie pie pie";
}

.cabecera{
  background-image: url('../img/banner_definitivo.jpg');
  background-repeat: no-repeat;
  background-position: center -50px;
  background-size: cover;
  font-weight: 900;
  font-size: 19rem;
  grid-area: cabecera;
}
.publicidad{
  background-image: url('../img/casinozeus.jpg');
  background-position: center;
  grid-area: publicidad;
}
.publicidad1{
  background-image: url('../img/concesionariaYamaha.jpg');
  background-position: center;
  grid-area: publicidad1;
}
.publicidad2{
  background-image: url('../img/concesionariaBenelli.png');
  background-repeat: repeat;
  grid-area: publicidad2;
}
.publicidad3{
  background-image: url('../img/concesionariaHonda.webp');
  background-repeat: repeat;
  background-position: center;
  grid-area: publicidad3;
}
.publicidad4{
  background-image: url('../img/concesionariaSuzuki.jpg');
  background-repeat: repeat;
  background-position: center;
  grid-area: publicidad4;
}
.publicidad5{
  background-image: url('../img/tiendaVelez.jpg');
  background-position: center;
  margin: 10px;
}
.seccion{
  grid-area: seccion;
}
.seccion1{
  grid-area: seccion1;
}
.seccion2{
  grid-area: seccion2;
}
.seccion3{
  grid-area: seccion3;
}
.pie{
  grid-area: pie;
}

/* media queries */
@media (max-width:943px){
  .tipos_container{
    width:100%;
    padding: 1rem;
    height: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_publicitario{
    display: flex;
    flex-direction: column;
  }
  .card_publicitaria_container{
    background: rgb(247,236,9);
background: linear-gradient(90deg, rgba(247,236,9,0.4542191876750701) 0%, rgba(237,238,145,0.27494747899159666) 0%, rgba(244,229,139,1) 100%);
  }
  .video{
  width: 100%;
  height: 300px;
}
.cabecera{
  background-position: 0px;
}

.publicidad5{
  display: none;
}
.grid_contacto{
  background-color: rgb(243, 118, 118);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 500px;
  grid-template-areas:"cabecera"
  "seccion"
  "pie";
}
}
@media (max-width:600px){

}
@media (max-width:320px){
  /* index */
  .tipos_container{
    width:100%;
    padding: 1rem;
    height: 100%;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr;
  }
  .card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card_publicitario{
    display: flex;
    flex-direction: column;
  }
  .card_publicitaria_container{
    background: rgb(247,236,9);
background: linear-gradient(90deg, rgba(247,236,9,0.4542191876750701) 0%, rgba(237,238,145,0.27494747899159666) 0%, rgba(244,229,139,1) 100%);
  }
  .video{
    width: 150%;
    height: 200px;
  }
  /* marcas */
  .grid_marcas{
    background-color: rgb(243, 118, 118);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
    grid-template-areas:"cabecera"
    "seccion" 
    "publicidad1"
    "seccion1" 
    "publicidad2"
    "seccion2" 
    "publicidad3"
    "seccion3" 
    "publicidad4"
    "pie";
  }
  /* novedades */
  .seccion-grilla{
  }
  .grid{
    width: 100%;
    background-color: rgb(243, 118, 118);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 500px;
    grid-template-areas:"cabecera"
    "seccion"
    "seccion1"
    "seccion2"
    "publicidad5"
    "pie";
  }
  .seccion_grid{
    width: 92%;
    display: flex;
    flex-direction: column;    
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
    margin: 10px;
  }

  
  .imgNovedades{
    width: 250px;
  }
  .cabecera{
    background-position: 0px;
  }

}