*{  padding: 0%;
    margin: 0%;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
}

/* seccion tipos */

.tipos{
    padding: 2rem 4%;
    width: 100%;
    background-color: rgb(255, 65, 65)
}
.tipos h2{
    height: 70px;
    text-align: center;
}
.tipos_container{
    width: 100%;
    padding: 1rem 4%;
    height: 100%;
}

/* cards */

.card{
    height: 400px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0);
}
.card img {
    border-radius: 2px 2px 0 0;
    width: 100%;
    height: 100px;
    object-fit: cover;
}
.card .card_title{
    padding: 0 10px;
}
.card .card_container{
    width: 100%;
    padding: 10px;
    font-size: .80rem;
    display: flex;
}
.card .card_container a.boton {
    margin-top: 10px;
    width: 110px;
    align-self: flex-end;
}
.imgNovedades{
    width: 320px;
    height: 320px;
}

/* publicidad */
.card_publicitario{
    display: flex;
}
.card_publicitaria_container{
    background: rgb(255,85,0);
background: linear-gradient(90deg, rgba(255,85,0,1) 0%, rgba(140,129,130,1) 15%, rgba(244,230,139,1) 41%, rgba(244,229,139,1) 53%, rgba(237,238,145,1) 69%, rgba(244,229,139,1) 100%);
}

/* imagines */
.imgNovedades{
    
}
/* seccion */

/* .seccion2{
    display: flex;
    align-items: center; */

}

/* footer */
.logoRedes{
    width: 15px;
    height: 15px;
}
/* media queries */
/* @media (max-width: 2000px){
    
}
@media (max-width: 600px){
    body{
        background-color:rgb(7, 99, 130) ;
    }
    .container{
    display: flex;
    flex-direction: column;
    }
     .row{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .video{
        display: none;
    }
    .col-6{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .banner{
        display: none;
    }
    .media{    
        position: relative;
        right: 100px;
        width: 250%;
    }
@media (max-width: 320px) {
    body{display: flex;
        flex-direction: column;
        max-width: 100%;
        background-color:green ;
    }
    .media{
       display: none;
    }
    .containerItem{
        margin-top: 5%;
    }
    .col-5{
        display: flex;
        flex-direction: column;
        text-align: start;
    }
    main{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .row{
        display: flex;
        flex-direction: column;

    }
    .banner{
        display: none;
    }
}
} */